/* BOOTSTRAP */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* FONT-AWESOME */
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css";
/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap');

*{
    color:white;
    font-family: 'Exo 2', sans-serif;
}
.body {
    background-color: rgb(19, 19, 19);
}
.zoomIn {

    transform: scale(1);
    transition: 0.5s;
}
.zoomIn:hover {
    color: #0ff !important;
    
    transform: scale(1.1);
    transition: 0.5s;
}


.zoomIn2 {

    transform: scale(1);
    transition: 0.5s;
}
.zoomIn2:hover {
    box-shadow: 0px 0px 25px 1px #0ff;
    transform: scale(1.03);
    transition: 0.5s;
}



.zoomOut{
    transform: scale(1);
    transition: 0.5s;
}
.zoomOut:hover{
    box-shadow: 0px 0px 25px 1px #0ff;
    transform: scale(0.9);
    transition: 0.5s;
}

.card{
    transition: 0.5s;
}
.card:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 25px 1px #0ff;
}

/* The navigation bar */
 .navbar
{

   position: fixed;
   top: 0px;
} 

.icon{
    color: black;
}

.btn{
    background-color: #131313!important;
   color:  whitesmoke !important;
   border-color:whitesmoke !important;   
}

.btn:hover{
   background-color:#2f3236 !important;
   color: white !important;
   border-color:white !important;
}


.active{
    
    top: 0px;
    transition: 0.3s linear;
    display: flex; 
    background-color: rgba(255, 255, 255, 0.799);
    border-width: 3px;
    border-style:solid;
    border-color: black;
    color: black;

}
.hidden{
    transition: 0.3s linear;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 1px rgb(255, 255, 255);
}